name: CI

on:
  pull_request:
  push:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v30
        # pinning the nix version to avoid a CI failure
        # Fix taken from this thread https://github.com/cachix/cachix/issues/418
        # about a previous bad nix version
        with:
          install_url: https://releases.nixos.org/nix/nix-2.24.10/install

      - uses: cachix/cachix-action@v15
        with:
          name: noredink-ui
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          extraPullNames: niv

      # note about the command below: everything after `--command` is
      # interpreted as command-line arguments. So the actual command that we're
      # running is `shake --verbose ci`; `--verbose` and `ci` aren't being
      # interpreted as flags to `nix develop`!
      - run: nix develop --ignore-environment --keep PERCY_TOKEN --command shake --verbose ci
        env:
          PERCY_TOKEN: '${{ secrets.PERCY_TOKEN }}'
